<head>
  <title><%= content_for?(:title) ? yield(:title) + ' | NOLABO' : 'NOLABO'%></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <% if current_user %>
    <meta name="user_id" content="<%= current_user.user_id %>">
  <% end %>
  <% if @recruiting %>
    <meta name="recruiting_id" content="<%= @recruiting.id %>">
  <% end %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>