<section class="recruiting_new_form_wrap">
  <div class="recruiting_new_form">
    <h1 class="recruiting_new_form_ttl">野良募集作成</h1>
    <div class="recruiting_new_form_body">    

      <%= form_with model: @recruiting, url: recruitings_path, scope: :recruiting, local: true do |f| %>

          <% if @recruiting.errors.any? %>
            <div class="recruiting_new_form_error">
              <ul>
                <% @recruiting.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

        <div class="recruiting_new_form_field">
          <%= f.label :type, class: 'recruiting_new_form_select_label' %>
          <div class='recruiting_new_form_select'>
            <%= f.select :type, {'Apex Legends': 'ApexRecruiting'},  selected: 'ApexRecruiting'%>
          </div>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.label :vc, class: 'recruiting_new_form_select_label' %>
          <div class='recruiting_new_form_select'>
            <%= f.select :vc, options_for_select_from_enum(Recruiting, 'vc'), { include_blank: '未選択'} %>
          </div>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.label :recruitment_numbers, class: 'recruiting_new_form_select_label' %>
          <div class='recruiting_new_form_select'>
            <%= f.select :recruitment_numbers, {'1人': 1, '2人': 2, '3人': 3}, { include_blank: '未選択'} %>
          </div>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.text_field :play_style, class: 'recruiting_new_form_text_input', placeholder: " " %>
          <%= f.label :play_style, class: 'recruiting_new_form_text_input_label' %>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.text_area :comment, class: 'recruiting_new_form_text_area', placeholder: " " %>
          <%= f.label :comment, class: 'recruiting_new_form_text_area_label' %>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.label :rank, class: 'recruiting_new_form_select_label' %>
          <div class='recruiting_new_form_select'>
            <%= f.select :rank, options_for_select_from_enum(ApexRecruiting, 'rank'), { include_blank: true } %>
          </div>
        </div>

        <div class="recruiting_new_form_field">
          <%= f.label :game_mode, class: 'recruiting_new_form_select_label' %>
          <div class='recruiting_new_form_select'>
            <%= f.select :game_mode, options_for_select_from_enum(ApexRecruiting, 'game_mode'), { include_blank: true } %>
          </div>
        </div>

        <div class="recruiting_new_form_actions">
          <%= f.submit "募集する" %>
        </div>

      <% end %>
    </div>
  </div>
</section>